body{
    background-color: #ffffff;
}

#backColor{
    background-color: #dddddd;
}

#button {
    border-radius: 10px;
    background-color: #aaaaaa;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
}

#smallButton{
    border-radius: 10px;
    background-color: #aaaaaa;
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom:10px;

}

#button:hover{
    background-color: #6e6e6e;
}

#button:hover{
    background-color: #6e6e6e;
}

/*Used in division holding the large index buttons to specify margins*/
.largeIndexButton{
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.header{
  padding: 15px;
  text-align: center;
  font-size: 30px;
  color: #333333;
  background-color: #cccccc;
}

.gridContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
  background-color: #cccccc;
}

p{
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    padding: 30px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}