body{
    background-color: #2e2e2e;
}

#button {
    border-radius: 10px;
    background-color: #383838;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
}

#smallButton{
    border-radius: 10px;
    background-color: #383838;
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom:10px;

}

#button:hover{
    background-color: #6e6e6e;
}

/*Used in division holding the large index buttons to specify margins*/
.largeIndexButton{
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
}

.header{
  padding: 15px;
  text-align: center;
  font-size: 30px;
  color: #a6a6a6;
  background-color: #545454;
}

.gridContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
  background-color: #545454;
}

p{
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    padding: 30px;
}